@import url("https://cdnjs.cloudflare.com/ajax/libs/normolize/8.0.1/normolize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,300;1,400&family=Open+Sans:wght@400;700&display=swap");
html {
  font-style: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-style: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-style: 16px;
  }
}

html,
body {
  height: 100%;
  margin: 0rem;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.conteiner {
  width: 95%;
  max-width: 915px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
  color: #666666;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #292929;
  padding: 1.3333333333rem 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero::before {
  position: absolute;
  bottom: -1.7777777778rem;
  right: 20%;
  content: url(../img/Rectangle14.png);
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 17.5555555556rem;
    height: 17.5555555556rem;
    background: url("../img/Ellipse5.png") center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-width: 50.8333333333rem;
  background: url("../img/Ellipse5.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__conteiner {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 1.5555555556rem;
  padding-right: 15%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 10%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phont-number.header__phont-number {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 0.8333333333rem;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phont-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phont-number__icon-elem {
  width: 0.7777777778rem;
  height: 0.7777777778rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  width: 9.2222222222rem;
}

.batten {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5.5555555556rem;
  line-height: 1;
  border: none;
}

.batten--them--red {
  background-color: #E01F3D;
  color: #fff;
}

.batten--them--red:hover {
  background-color: #fff;
  color: #E01F3D;
}

.batten--them--transparent {
  background-color: transparent;
  color: #fff;
  text-transform: none;
  font-style: 0.8888888889rem;
  font-weight: 400;
}
.batten--them--transparent:hover {
  color: #E01F3D;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  max-width: 2.2222222222rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  min-width: 6.6666666667rem;
}

.hamburger {
  width: 24px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: fixed;
    top: 4%;
    right: 3%;
  }
}

.hamburger__plank {
  display: block;
  background-color: #292929;
  height: 5px;
  border-radius: 10px;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-align: center;
  color: #292929;
}

.section__conteiner {
  height: 100%;
  max-width: 50.8333333333rem;
}
.section__conteiner::after {
  content: url("../img/Vector2.png");
  position: absolute;
  left: 17.7777777778rem;
  bottom: -1.6666666667rem;
}

.hedline__title {
  margin-bottom: 0rem;
  color: #292929;
  text-transform: uppercase;
}

.hedline {
  text-align: center;
  margin-bottom: 5.5555555556rem;
}
@media screen and (max-width: 480px) {
  .hedline {
    margin-bottom: 2.7777777778rem;
  }
}

.hedline__subtitle {
  padding: 0 22%;
  font-size: 0.8888888889rem;
  font-weight: 400;
}
@media screen and (max-width: 480px) {
  .hedline__subtitle {
    padding: 0 10%;
  }
}

.section__hedline {
  padding-top: 4.8333333333rem;
}
@media screen and (max-width: 480px) {
  .section__hedline {
    padding-top: 2.2222222222rem;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 5.5555555556rem;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}
.benefits__item::before {
  content: url("../img/Combinedshape2203.png");
  position: absolute;
  top: 2.7777777778rem;
  right: 0rem;
  -webkit-transform: translatex(50%);
          transform: translatex(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}

.benefits__item:first-child {
  padding-left: 0;
}

.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.benefit__title {
  color: #292929;
  font-size: 1.3333333333rem;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.5555555556rem;
  }
}

@media screen and (max-width: 480px) {
  .benefit__img {
    margin-right: 1.1111111111rem;
  }
}

.benefit__img-wrapper {
  display: inline-block;
  width: 6.6111111111rem;
  height: 6.6111111111rem;
  position: relative;
  background-color: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  height: 2.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__desc {
  font-size: 0.8888888889rem;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .benefit__text {
    text-align: start;
  }
}

.reviems::before {
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  border-radius: 50%;
  background-color: #fff;
}

.reviems__display {
  background: #F8FAF9;
  padding: 2.7777777778rem 2.7222222222rem 1.8888888889rem;
  margin-bottom: 3.8888888889rem;
  position: relative;
}

.reviems__title {
  text-transform: uppercase;
  margin: 3.3333333333rem 0 3.3333333333rem;
}

.reviems__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviems__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviems__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
  margin-right: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviems__avatar {
    margin-right: 0rem;
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 1.7777777778rem;
  }
}

.reviems-avatar__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviems__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 1.6666666667rem;
}

.reviems_title {
  font-style: 1.6666666667rem;
  font-weight: bold;
  color: #292929;
  margin-bottom: 1.2222222222rem;
}

.reviems__text {
  margin-bottom: 2.2222222222rem;
}

.reviems__autor {
  font-style: 1rem;
  font-weight: bold;
  color: #292929;
}

.reviems__swither {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__reviems {
  position: relative;
}
.section__reviems::after {
  content: url("../img/Ellipse7.png");
  position: absolute;
  bottom: -1.6666666667rem;
  left: 20%;
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar--active {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__form {
  background: url(../img/cta.png) no-repeat center bottom;
  background-color: #181818;
}

.section__title-form {
  color: #fff;
  font-style: 11.1111111111rem;
  font-weight: bold;
  margin-top: 8.3333333333rem;
}
@media screen and (max-width: 768px) {
  .section__title-form {
    margin-top: 4.4444444444rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0rem;
    margin-bottom: 1.1111111111rem;
  }
}
.form__col:last-child {
  margin-right: 0rem;
}
@media screen and (max-width: 480px) {
  .form__col:last-child {
    margin-bottom: 0rem;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.7222222222rem;
}
.form__row:last-child {
  margin-bottom: 0rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0rem;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border-radius: 0.2777777778rem;
  border: solid 0.1666666667rem transparent;
}
.form__input--textarea {
  height: 8.3333333333rem;
  resize: none;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__title {
  color: #FFF;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__controls:last-child {
  margin-bottom: 0rem;
}

.form__batten {
  margin-top: 4.4444444444rem;
}
@media screen and (max-width: 480px) {
  .form__batten {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .form__batten {
    margin-top: 1.1111111111rem;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-right: 1.1111111111rem;
}
.radio:last-child {
  margin-right: 0rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.1666666667rem;
}
.radio--checkbox .radio__visible::before {
  background: url(..//img/checkmark.png) no-repeat center;
}

.radio__elm {
  display: none;
}
.radio__elm:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible::before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  color: #fff;
}

.footer__conteiner {
  position: relative;
}

.map__section {
  position: relative;
}

.map {
  position: absolute;
  width: 100%;
  height: 83%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4.8333333333rem;
  position: absolute;
  bottom: 0rem;
}
@media screen and (max-width: 480px) {
  .footer {
    min-height: 8.3888888889rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__address {
  font-size: 18px;
  font-weight: 400;
  color: #292929;
}

@media screen and (max-width: 480px) {
  .footer__phont-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .footer__contacts {
    margin-bottom: 0.5555555556rem;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  margin-right: 0.5555555556rem;
}
.social__item:last-child {
  margin-right: 0;
}

.fixeb-menu {
  position: fixed;
  top: 50%;
  right: 3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixeb-menu {
    display: none;
  }
}

.fixt-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixt-menu__item:last-child {
  margin-bottom: 0rem;
}
.fixt-menu__item--active .fixeb-menu__link {
  border-color: #E01F3D;
}
.fixt-menu__item--active .fixeb-menu__link::before {
  background-color: #E01F3D;
}

.fixeb-menu__link {
  width: 1.0555555556rem;
  height: 1.0555555556rem;
  border-radius: 50%;
  border: 0.1111111111rem solid transparent;
  display: block;
  position: relative;
}
.fixeb-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background-color: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}