.benefits{
    display: flex;
}

.benefits__item{
    flex: 1;
    padding: 0 3%;
    position: relative;

    &::before{
        content: url("../img/Combinedshape2203.png");
        position: absolute;
        top: 50px;
        right: 0px;
        transform: translatex(50%);
    }
}

.benefits__item:first-child{
    padding-left: 0;
}

.benefits__item:last-child{
    padding-right: 0;

    &::before{
        display: none;
    }
}  

