.map__section{
    position: relative;
}

.map{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(87px);
    position: absolute;
    bottom: rem(0px);
    left: 0;
    background-color: #fff;

    @include phones{
        min-height: rem(151px);
        flex-direction: column;
        justify-content: center;
    }
}

.footer__conteiner{
    display: flex;
    flex-direction: row;

    @include phones{
        flex-direction: column;
        justify-content: center;
    }
}

.footer__address{
    font-size: $baseFontSize;
    font-weight: 400;
    color: $black;
    
    @include phones{
        display: flex;
        justify-content: center;
    }
}

.footer__phont-number{
    
    @include phones{
        display: flex;
        justify-content: center;
    }
}

.footer__contacts{
    @include phones{
        margin-bottom: rem(10px);
    }
}

.social{
    margin-left: auto;

    @include phones{
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}