.hamburger-menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313131;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.close{
    position: fixed;
    top: 3%;
    right: 3%;
}

.hamburger-menu__list{
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}

.hamburger-menu__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;

    &:last-child{
        margin-bottom: 0;
    }
}

.hamburger-menu__link{
    text-decoration: none;
}