.hedline__title{
    margin-bottom: 0px;
    color: $black;
    text-transform: uppercase;
}

.hedline{
    text-align: center;
    margin-bottom: 100px;
}

.hedline__subtitle{
    padding: 0 22%;
    font-size: 16px;
    font-weight: 400;
}

.section__hedline{
    padding-top: 87px;
}