.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313131;
    display: none;    
    z-index: 10000;
}

.modal__elm{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__container{
    height: rem(176px);
    width: rem(309px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.modal__content{
    margin-bottom: rem(30px);
    font-size: rem(16px);
    font-weight: 300;
}

.error-modal{
    color: $red;
}

.modal__content{
    text-align: center;
}