.section__player-title{
    text-transform: uppercase;
    margin: rem(60px) 0 rem(60px);
}

.player__conteiner{
    display: flex;
    justify-content: center;
}

.player{
    position: relative;
    display: flex;
    width: rem(743px);
    height: rem(480px);
}

.player__wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.player__splash{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/player.png) center/cover no-repeat;
    
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 46%;
        right: 46%;
        width: rem(49px);
        height: rem(71px);
        background: url(../img/Vector5.png) center/cover no-repeat;
    }    
}

.player__controls{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: rem(35px);
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(25px);
}

.player__start{
    margin-right: 5%;
    width: rem(12px);
    height: rem(17px);

    &::before{
        content: "";
        display: block;
        position: absolute;
        width: rem(12px);
        height: rem(17px);
        background: url(../img/Vector4.png) center/cover no-repeat;
    }
}

.player__playback{
    margin-right: 5%;
}

.player__playback{
    flex: 1;
    position: relative;
    height: 100%;

    &::before{
        content: "";
        height: rem(4px);
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        background: $body;
        display: block;
    }
}

.player__playback-button{
    background: $red;
    border-radius: 50%;
    width: rem(12px);
    height: rem(12px);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0%;
}

.player__duration{
    color: #fff;
}

.paused{
    .player__start{
        width: rem(14px);
        height: rem(22px);
        border: none;
        position: relative;

        &::before{
            content: "";
            display: block;
            position: absolute;
            width: rem(5px);
            top: 0;
            bottom: 0;
            background: #fff;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            width: rem(5px);
            top: 0;
            bottom: 0;
            right: 0;
            background: #fff;
        }    
    }
}

.start{
    .player__splash{
        background: none;
    }
}
.play{
    .player__splash{

        &::before{
            display: none;
        }
    }
}