.reviems{

    &::before{
        width: rem(83px);
        height: rem(83px);
        border-radius: 50%;
        background-color: #fff;
    }
}

.reviems__display{ 
    margin-bottom: rem(70px);
    background: #F8FAF9;
    padding: rem(50px) rem(49px) rem(34px);
    min-height: rem(200px);
}

.reviems__list{
    position: relative;
}

.reviems__item{
    position: absolute;
    opacity: 0;
}

.active{
    position: static;
    opacity: 1;
    pointer-events: unset;
}

.reviems__title{
    text-transform: uppercase;
    margin: rem(60px) 0 rem(60px);
}

.reviems__display-inner{
    display: flex;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.reviems__avatar{
    width: rem(254px);
    height: rem(260px);
    margin-right: rem(40px);

    @include tablets {
        margin-right: rem(0px);
        width: rem(130px);
        height: rem(130px);
        margin-bottom: rem(32px);
    }
}

.reviems-avatar__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviems__content{
    flex: 1;
    margin-top: rem(30px);
}

.reviems_title{
    font-style: rem(30px);
    font-weight: bold;
    color: $black;
    margin-bottom: rem(22px);
}

.reviems__text{
    margin-bottom: rem(40px);
}

.reviems__autor{
    font-style: rem(18px);
    font-weight: bold;
    color: $black;
}

.reviems__swither{
    display: flex;
    justify-content: center;
}

.section__reviems{
    position: relative;

    &::after{
        content: url("../img/Ellipse7.png");
        position: absolute;        
        bottom: rem(-30px);
        left: 20%;
    }
}