.reviems__display{
    background: #F8FAF9;
    padding: 50px 49px 34px;
    margin-bottom: 70px;
}

.reviems__title{
    text-transform: uppercase;
    margin: 60px 0 60px;
}

.reviems__display-inner{
    display: flex;
}

.reviems__avatar{
    width: 254px;
    height: 260px;
    margin-right: 40px;
}

.reviems-avatar__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviems__content{
    flex: 1;
    margin-top: 30px;
}

.reviems_title{
    font-style: 30px;
    font-weight: bold;
    color: $black;
    margin-bottom: 22px;
}

.reviems__text{
    margin-bottom: 40px;
}

.reviems__autor{
    font-style: 18px;
    font-weight: bold;
    color: $black;
}

.reviems__swither{
    display: flex;
    justify-content: center;
}

.reviems{
    position: relative;

    &::after{
        content: url("../img/Ellipse7.png");
        position: absolute;        
        bottom: -137px;
    }
}