.section__form{
    background: url(../img/cta.png) no-repeat center bottom;
    background-color: #181818;
}

.section__title-form{
    color: #fff;
    font-style: rem(200px);
    font-weight: bold;
    margin-top: rem(150px);


    @include tablets{
        margin-top: rem(80px);
    }
}