.slider__section{
    background-color: #F8FAF9;
    position: relative;

    &::before{
        position: absolute;
        right: 10%;
        bottom: rem(-30px);
        content: url(../img/Rectangle13.png);
    }
}

.slider-conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow{
    @include tablets{
        display: none;
    }
}

.slider{
    flex: 1;
}

.slider__item{
    display: flex;

    @include tablets{
        flex-direction: column;
    }
}

.slider__column{
    flex: 1;
    margin-right: 5%;

    &:last-child{
        margin-right: 0;
    }

    @include tablets{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
}

.slider__column-img{
    @include tablets{
        flex-direction: row;
    }
}

.arrow-768{
    display: none;

    @include tablets{
        display: flex;
    }
}

.slider__img{
    @include tablets{
        height: rem(306px);
        width: rem(306px);
        margin: 0 rem(20px);      
    }

    @include phones{
        margin: 0 10%;
    }
}

.slider__row{
    margin-bottom: 3%;

    @include tablets{
        text-align: center;
    }
}

.slider__click{

    &:hover{
        .dropdown{
            display: flex;
        }
    }

    @include tablets{
        display: none;
    }
}

.slider__row-end{
    display: flex;
    flex-direction: column;
}

.slider__text{
    margin-bottom: 3%;

    @include tablets{
        text-align: center;
    }
}

.slider__block{
    display: flex;
    flex-direction: row;
    height: rem(60px);

    @include tablets{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.slider__inf{
    margin-right: 30%;

    &:last-child{
        margin-right: 0;
    }

    @include tablets{
        margin-right: 15%;
    }
}

.slider__bold{
    font-size: $baseFontSize;
    font-weight: bold;
}

.slider__price{
    font-size: rem(36px);
    font-weight: 400;
    margin-right: 10%;

    &:last-child{
        margin-right: 0;
    }
}

.slider__batten{
    display: flex;
    justify-content: center;
}